{{!-- сторінка --}}
<div class="page">
  <div class="page-content">
		{{!-- шапка --}}
		<header>
			<div class="bootstrap-solid">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
					<g clip-path="url(#clip0_7_5)">
						<path d="M24 20.3359C24 22.5359 22.2 24.3359 20 24.3359H4C1.8 24.3359 0 22.5359 0 20.3359V4.33594C0 2.13594 1.8 0.335938 4 0.335938H20C22.2 0.335938 24 2.13594 24 4.33594V20.3359Z" fill="#563D7C"/>
						<path d="M6.52158 5.55164H13.3255C14.5804 5.55164 15.5882 5.83791 16.3451 6.41438C17.102 6.99085 17.4824 7.85752 17.4824 9.02222C17.4824 9.72811 17.3098 10.332 16.9647 10.834C16.6196 11.3359 16.1255 11.7281 15.4824 12.0026V12.0418C16.3451 12.2261 17 12.634 17.4431 13.2654C17.8863 13.9007 18.1098 14.6928 18.1098 15.6497C18.1098 16.1987 18.0118 16.7124 17.8157 17.1869C17.6196 17.6654 17.3137 18.0771 16.8941 18.4222C16.4745 18.7673 15.9412 19.0418 15.2863 19.2458C14.6314 19.4497 13.8549 19.5516 12.9529 19.5516H6.52158V5.55164ZM8.97256 11.4144H12.9726C13.5608 11.4144 14.051 11.2497 14.4431 10.9124C14.8353 10.5752 15.0314 10.0967 15.0314 9.46928C15.0314 8.7634 14.8549 8.26536 14.502 7.97909C14.149 7.69281 13.6392 7.54771 12.9726 7.54771H8.97256V11.4144ZM8.97256 17.5516H13.3059C14.051 17.5516 14.6314 17.3595 15.0392 16.9712C15.451 16.5869 15.6588 16.0379 15.6588 15.332C15.6588 14.6379 15.4549 14.1085 15.0392 13.732C14.6235 13.3556 14.051 13.1752 13.3059 13.1752H8.97256V17.5516Z" fill="white"/>
					</g>
					<defs>
						<clipPath id="clip0_7_5">
							<rect width="24" height="24" fill="white" transform="translate(0 0.335938)"/>
						</clipPath>
					</defs>
				</svg>
			</div>
			<nav class="my-2">
				{{#each header}}
					<a href="{{url}}">{{text}}</a>
				{{/each}} <!-- end of header -->
			</nav>
		</header>
		{{!-- шапка --}}
		{{!-- основна частина --}}
		<main>
			<div class="hero">
				<h2>{{hero.title}}</h2>
				<p>{{hero.text}}</p>
			</div>
			<div class="plans">
				<div class="row row-cols-1 row-cols-md-3 g-4">
					{{#each plans}}
						<div class="col">
							<div class='card'>
								<div class="card-header">{{name}}</div>
								<div class='card-body'>
									<div>{{price}}</div>
									{{#each features}}
										<div>{{this}}</div>
									{{/each}} <!-- end of features -->
									<button class="btn {{#if @first}} btn-outline-primary {{else}} btn-primary {{/if}}">{{button}}</button>
							    </div>
							</div>
						</div>
					{{/each}} <!-- end of plans -->
				</div>
			</div>
		</main>
		{{!-- основна частина --}}
		{{!-- підвал --}}
		<footer>
		</footer>
		{{!-- підвал --}}
	</div>
</div>